*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1 rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  max-width: 1024px;
  padding-top: 6rem;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
